<h1>About</h1>
<p>
  How much do you love taking, editing, and sharing your photos?
  Well we have the app for you! We created this app to allow you to
  share and edit your photos and then sell them.
</p>
